
:host {
  position: relative;
  z-index: 11;
  background-color: red;

  .wrapper {
    padding: 0px;
    max-width: 620px;

    .header {
      color: var(--text-color);
      .name-section {
        display: flex;
        align-items: center;
        gap: 12px;

        .name {
          font-size: 30px;
          line-height: 32px;
          margin: 0 0 10px;
        }
        span {
          margin-bottom: 9px;
          background-color: transparent;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          fill: rgb(59, 190, 59);
          scale: 1;
          &:hover {
            fill: green;
          }
        }
      }
      .description {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 40px;

        a {
          color: var(--a-tag-color);
        }
      }
    }
    .input-field {
      label {
        font-size: 14px;
        width: 100%;
      }

      input {
        background-color: #FFFFFF;
        border: 1px solid rgba(37, 18, 45, 0.13);
        border-radius: 9px;
        box-shadow: 0 1px 8px 0 rgba(37, 18, 45, 0.05);
        margin: 3px 0 30px;
        padding: 15px;
        width: 100%;
      }

    }
    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;
      label {
        .gender {
          margin-left: 12px;
          padding: 6px;
          border-radius: 3px;
          box-shadow: 0 1px 8px 0 rgba(37, 18, 45, 0.05);
          border: none;
        }
        input {
          background-color: #FFFFFF;
          border: 1px solid rgba(37, 18, 45, 0.13);
          border-radius: 9px;
          box-shadow: 0 1px 8px 0 rgba(37, 18, 45, 0.05);
          margin: 3px 0 30px;
          padding: 15px;
          width: 100%;
        }
      }
    }
    .children {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: 0;
      }

      h5 {
        font-size: 16px;
        text-decoration: underline;
      }

      .sons {
        display: flex;
        flex-direction: column;
        p:nth-child(n + 2) {
          background-color: lightblue;
        }
      }
      .daughters {
        display: flex;
        flex-direction: column;
      }
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .delete {
      cursor: pointer;
      margin-left: 30px;
      fill: red;
      scale: .4;
      &:hover {
        filter: brightness(.8);
      }
    }
    .edit {
      cursor: pointer;
      margin-left: 10px;
      fill: rgb(10, 175, 92);
      scale: .9;
      &:hover {
        filter: brightness(.8);
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;

      button {
        padding: 6px 18px;
        font-weight: bold;
        font-size: 24px;
        background-color: rgb(189, 192, 189);
        color: #fff;
        border-radius: 30px;
        box-shadow: rgb(160, 162, 164) 0px 20px 30px -10px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
      }
      button:hover {
        filter: brightness(.9);
      }

    }

  }
}

