<div class="wrapper"
  *ngIf="(showModal$ | async) && isLoggedIn$"
>
  <div class="header" *ngIf="!(editPerson$ | async)">
    <div class="name-section">
      <h3 class="name">{{config.data.item?.name}}</h3>
      <span (click)="changeEditMode()" title="Edit {{ config.data.item?.name }}" [smSvgIcon]="'edit'"></span>
    </div>
    <p class="description">{{config.data.description}}</p>
  </div>

  <ng-container *ngIf="config.data.item?.children?.length && !(editPerson$ | async)">
  <h4>Children:</h4>
  <div class="children">
    <div class="sons">
      <h5>Son</h5>
      <div *ngFor="let each of config.data.item?.children; let i = index" >
        <p  *ngIf="getGender(each)==='male'">
            <strong>{{i + 1}}.&nbsp;&nbsp;&nbsp;<span>{{getPerson(each)}}</span></strong>
            <span  (click)="editItem(each)" [smSvgIcon]="'edit'" [title]="'edit'" class="edit"></span>
            <span (click)="deleteItem(each, config.data.item?.id)" [smSvgIcon]="'delete'" [title]="'delete'" class="delete"></span>
          </p>
      </div>
    </div>
    <div class="daughters">
      <h5>Daughter</h5>
      <div *ngFor="let each of config.data.item?.children; let i = index" >
        <p  *ngIf="getGender(each)==='female'">
          <strong>{{i + 1}}.&nbsp;&nbsp;&nbsp;<span>{{getPerson(each)}}</span></strong>
          <span  (click)="editItem(each)" [smSvgIcon]="'edit'" [title]="'edit'" class="edit"></span>
          <span (click)="deleteItem(each, config.data.item?.id )" [smSvgIcon]="'delete'" [title]="'delete'" class="delete"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="formValue">

  </div>
  </ng-container>

  <div class="buttons" *ngIf="!(editPerson$ | async)" >
    <button type="button" (click)="close()">Cancel</button>
    <button type="button" (click)="showModal$.next(false)">Add +</button>
  </div>
  <div class="cancel"  *ngIf="editPerson$ | async">
    <app-person [currentPerson]="currentPerson"></app-person>
    <button type="button" (click)="close()">Cancel</button>
  </div>
</div>

<div class="cancel"  *ngIf="!!!(showModal$ | async) && isLoggedIn$">
  <app-person [currentPerson]="currentPerson"></app-person>
  <button type="button" (click)="close()">Cancel</button>
</div>

<div class="login" *ngIf="!isLoggedIn$">
  <app-login (onLoggedIn)="isLoggedIn$ = true" (onCancel)="close()"></app-login>
</div>
