<div class="wrapper"
  *ngIf="!!!(confirmation$ | async)"
>
  <div class="header" *ngIf="!(editPerson$ | async)">
    <div class="name-section">
      <h3 class="name">{{config.data.item?.name}}</h3>
      <span (click)="editPerson$.next(!editPerson$.getValue())" title="Edit {{ config.data.item?.name }}">Edit</span>
    </div>
    <p class="description">{{config.data.description}}</p>
  </div>

  <ng-container *ngIf="config.data.item.children.length && !(editPerson$ | async)">
  <h4>Children:</h4>
  <div class="children">
    <div class="sons">
      <h5>Son</h5>
      <div *ngFor="let each of config.data.item?.children; let i = index" >
        <p  *ngIf="getGender(each)==='male'"><strong>{{i + 1}}.&nbsp;&nbsp;&nbsp;<span>{{getPerson(each)}}</span></strong> <span (click)="deleteItem(each)" (click)="deleteItem(each)" [smSvgIcon]="'delete'" [title]="'delete'" class="delete"></span></p>
      </div>
    </div>
    <div class="daughters">
      <h5>Daughter</h5>
      <div *ngFor="let each of config.data.item?.children; let i = index" >
        <p  *ngIf="getGender(each)==='female'"><strong>{{i + 1}}.&nbsp;&nbsp;&nbsp;<span>{{getPerson(each)}}</span></strong> <span (click)="deleteItem(each)" [smSvgIcon]="'delete'" [title]="'delete'" class="delete"></span></p>
      </div>
    </div>
  </div>
  <div class="formValue">

  </div>
  </ng-container>

  <div class="buttons" *ngIf="!(editPerson$ | async)" >
    <button type="button" (click)="close()">Cancel</button>
    <button type="button" (click)="submit()">Add +</button>
  </div>
  <div class="cancel"  *ngIf="editPerson$ | async">
    <app-person [editMode]="true"></app-person>
    <button type="button" (click)="close()">Cancel</button>
  </div>
</div>

<div class="cancel"  *ngIf="confirmation$ | async">
  <app-person></app-person>
  <button type="button" (click)="close()">Cancel</button>
</div>
