<div class="wrapper">
  <form>
    <label>Name:
      <input type="text" name="name">
    </label>
    <label>Gender:
      <label>
        <input type="radio" value="male" name="gender">Male
      </label>
      <label>
        <input type="radio" value="female" name="gender">Female
      </label>
      <label>
        <input type="radio" value="other" name="gender">Other
      </label>
    </label>
    <label>Current location:
      <input type="text" name="location">
    </label>
    <label>Description:
      <textarea type="text" name="description"></textarea>
    </label>
    <label>Date of Birth:
      <input type="date" name="dob">
    </label>
    <label>Social media link:
      <input type="text" name="link">
    </label>
  </form>
</div>
