:host {
  .wrapper {
    max-width: 400px;
    margin: auto;
    &__form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      background-color: rgb(238, 234, 234);
      border-radius: 7px;
      padding: 12px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      h2 {
        margin: 5px auto;
      }

      &__type-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input, textarea {
          padding: 7px;
          border-radius: 7px;
          gap: 5px;
          border: none;
        }
      }
      button {
        margin:  auto ;
        padding: 5px 10px;
        border-radius: 7px;
        background-color: green;
        color: #fff;
        font-size: 18px;
        border: none;
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}
