<div class="wrapper">
  <form class="wrapper__form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <h2>Person Information:</h2>
    <label class="wrapper__form__type-1">Name:
      <input type="text" placeholder="full name" formControlName="name">
    </label>
    <label class="wrapper__form__gender">Gender:
      <label>
        <input type="radio" value="male" formControlName="gender">Male
      </label>
      <label>
        <input type="radio" value="female" formControlName="gender">Female
      </label>
      <label>
        <input type="radio" value="other" formControlName="gender">Other
      </label>
    </label>
    <label class="wrapper__form__type-1">Current location:
      <input type="text" placeholder="location" formControlName="location">
    </label>
    <label class="wrapper__form__type-1">Description:
      <textarea type="text" placeholder="description" formControlName="description"></textarea>
    </label>
    <label class="wrapper__form__type-1">Date of Birth:
      <input type="date" placeholder="" formControlName="dob">
    </label>
    <label class="wrapper__form__type-1">Phone:
      <input type="text" placeholder="phone" formControlName="phone">
    </label>
    <label class="wrapper__form__type-1">Email:
      <input type="email" placeholder="email" formControlName="email">
    </label>
    <label class="wrapper__form__type-1">Social media link:
      <input type="text" placeholder="social media link" formControlName="link">
    </label>
    <button [disabled]="!reactiveForm.valid" [ngClass]="!reactiveForm.valid? 'invalid' : ''" type="submit">{{(editMode$ | async)? 'Edit' : 'Add'}}</button>
  </form>
</div>
