@use "../../../variables";

:host {
  hr {
    padding:0;
    margin: 0;
    border: 1px solid #fff;
  }
  .container {
    background-color: #eceeee;
    padding: 50px var(--content-margin) 50px;
    .appointment {
      max-width: var(--inner-container-width);
      margin: auto;
      &__content {
        &__header {
          font-size: 32px;
          line-height: 32px;
          color: #092728;
          margin: 0;
        }

        &__description {
          font-size: 16px;
          line-height: 18px;
          color: #887d8c;
          letter-spacing: 2px;
        }

        &__image {
          width: 100%;
          border-radius: 9px;
          border: 1px solid #dbdbdb;
          box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.13);
        }
      }
    }
  }
  @media (min-width: map-get(variables.$breakpoints, "phone")) {
    .container {
      padding: 100px var(--content-margin) 50px;
      .appointment {
        &__content {
          margin-left: 72px;
          margin-right: 72px;
          &__header {
            font-size: 46px;
            line-height: 46px;
            padding-top: 4px;
            padding-bottom: 4px;
          }

          &__description {
            font-size: 20px;
            line-height: 32px;
            padding-top: 14px;
            padding-bottom: 14px;
            margin-top: 0;
            margin-bottom: 36px;
          }
        }
      }
    }
  }
}
